<style type="text/css">
body, html {
-webkit-text-size-adjust: 100%;
  text-align:center;
  color: #283C82;
  font-family: 'Helvetica Neue', 'Calibri', Arial, sans-serif, '微軟正黑體';
  height: 100vh;
}

#container h1 a {
  display:inline-block;
  text-align:center;
  width: 100vw;
  color: #283C82;
  font-size: 5.0rem;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica Neue', 'Calibri', Arial, sans-serif, '微軟正黑體';
}


#app {
  background: #FFF8DB;
  display: flow;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.preview-container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  overflow: hidden;
}


.student_info {
  background: #FFF8DB;
  width: 100%;
  flex-direction: row;
  overflow: auto;
  text-align:center;

}
.student_info h2 {
  font-weight: normal;
  background: #514c48;
  color: #fff;
  padding: 15px;
  font-size: 3.0rem;
}
.student_info_show li {
  background: #eceff1;
  line-height: 275%;
  font-weight: normal;
  white-space: nowrap;
  overflow: auto;
  font-size: 2.5rem;

}
.student_info ul1{
  color: #283C82;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
  margin: auto;
  vertical-align:top;
  font-size: 2.5rem;
  margin-bottom: 2.0rem;
}
.student_info ul2{
  color: #283C82;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  margin: auto;
  vertical-align:top;
  font-size: 2.5rem;
  margin-bottom: 2.0rem;
}
.student_info ul3{
  color: #283C82;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
  margin: auto;
  vertical-align:top;
  font-size: 2.5rem;
  margin-bottom: 2.0rem;
}
.alert{
    font-size: 3.0rem;
    text-align:center;
}


.btn.btn-warning {
  background-color: #A3C0D3;
  border-color: #A3C0D3;
}

.btn.btn-warning:focus {
  background-color: #A3C0D3;
  border-color: #A3C0D3;
},
.btn.btn-warning:active {
  background-color: #283C82;
  border-color: #283C82;
},
.btn.btn-warning:hover {
  background-color: #283C82;
  border-color: #283C82;
}

</style>
