<style type="text/css">
body, html {
-webkit-text-size-adjust: 100%;
  background-image: url("/tsunoda/tsunoda.png");
  background: #A3C0D3;
  text-align:center;
  margin-top: 1.0rem;
  color: #283C82;
  font-family: 'Helvetica Neue', 'Calibri', Arial, sans-serif, '微軟正黑體';
  height: 100%;
}

h1 a {
  color: #283C82;
  font-weight: 1000;
  font-size: 3.0rem;

  font-family: 'Helvetica Neue', 'Calibri', Arial, sans-serif, '微軟正黑體';
}


#app {
  background: #FFF8DB;
  display: flow;
  align-items: stretch;
  justify-content: stretch;
  height: 100%;
}

.preview-container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  overflow: hidden;
}


.student_info {
  background: #FFF8DB;
  width: 100%;
  flex-direction: row;
  overflow: auto;
  font-size: 2.0rem;
}
.student_info h2 {
  font-weight: normal;
  font-size: 2.0rem;
  background: #514c48;
  color: #fff;
  padding: 20px;
}
.student_info_show li {
  background: #eceff1;
  line-height: 275%;
  font-weight: normal;
  font-size: 5.0rem;
  white-space: nowrap;
  overflow: auto;

}
.student_info ul{
  padding: 0;
  list-style-type: none;
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
   margin: auto
}


</style>
