<style type="text/css">
body, html {
-webkit-text-size-adjust: 100%;
  text-align:center;
  color: #283C82;
  font-family: 'Helvetica Neue', 'Calibri', Arial, sans-serif, '微軟正黑體';
  height: 100%;
}

#container h1 a {
  display:inline-block;
  text-align:center;
  width: 100%;
  color: #283C82;
  font-size: 4.5rem;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica Neue', 'Calibri', Arial, sans-serif, '微軟正黑體';
}


#app {
  margin-top: 1.0rem;
  background: #FFF8DB;
  display: flow;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.preview-container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  overflow: hidden;
}


.student_info {
  background: #FFF8DB;
  width: 100%;
  flex-direction: row;
  overflow: auto;
  text-align:center;
}
.student_info h2 {
  font-weight: normal;
  background: #514c48;
  color: #fff;
  padding: 20px;
  font-size: 2.5rem;
}
.student_info_show li {
  background: #eceff1;
  line-height: 275%;
  font-weight: normal;
  white-space: nowrap;
  overflow: auto;
  font-size: 2.5rem;
}
.student_info ul1{
  color: #283C82;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  width: 20%;
  box-sizing: border-box;
  margin: auto;
  vertical-align:top;
  font-size: 2.5rem;
}
.student_info ul2{
  color: #283C82;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  margin: auto;
  vertical-align:top;
  font-size: 2.5rem;
}
.student_info ul3{
  color: #283C82;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
  margin: auto;
  vertical-align:top;
  font-size: 2.5rem;
}


</style>
