<html>
  <head>
    <meta charset="utf-8">
    <title>Tsunoda &ndash; System</title>
    <link rel="icon" type="image/png" href="/tsunoda/tsunoda.png">

    



    <link rel="stylesheet" href="https://schmich.github.io/instascan/style.css">
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>


    <link rel="apple-touch-icon" href="/tsunoda/tsunoda.png">

    <link rel="manifest" href="/tsunoda/manifast.json">
  
  </head>
  <body>
  
  <div id="container">

    <h1> <a>角田日語 刷卡系統</a> </h1>

  </div>
  
   <div id="app">
      <div class="sidebar">
        <section class="cameras">
          <h2>Cameras</h2>
          <ul>
            <li v-if="cameras.length === 0" class="empty">No cameras found</li>
            <li v-for="camera in cameras">
              <span v-if="camera.id == activeCameraId" :title="formatName(camera.name)" class="active">{{ formatName(camera.name) }}</span>
              <span v-if="camera.id != activeCameraId" :title="formatName(camera.name)">
                <a @click.stop="selectCamera(camera)">{{ formatName(camera.name) }}</a>
              </span>
            </li>
          </ul>
        </section>
        <section class="scans">
          <h2>Scans</h2>
          <ul v-if="scans.length === 0">
            <li class="empty">No scans yet</li>
          </ul>
          <transition-group name="scans" tag="ul">
            <li v-for="scan in scans" :key="scan.date" :title="scan.content">{{ scan.content }}</li>
          </transition-group>
        </section>
      </div>
      <div class="preview-container">
        <video id="preview"></video>
      </div>
    </div>
    
    <script type="text/javascript" src="https://schmich.github.io/instascan/app.js"></script>
    
    <script>

        // CODELAB: Register service worker.
if ('serviceWorker' in navigator) {
  window.addEventListener('load', () => {
    navigator.serviceWorker.register('/tsunoda/service-worker.js')
        .then((reg) => {
          console.log('Service worker registered.', reg);
        });
  });
}
    </script>
  
  
  </body>
</html>
